<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>

<p th:text="${person.getName() + ', ' + person.getYearOfBirth()}">Person Info</p>
<p th:text="${person.getId()}">Person ID</p>

<br/>
<hr/>

<div th:if="${not #lists.isEmpty(books_of_person)}">
    <h3>Books taken:</h3>
    <div th:each="book : ${books_of_person}">
        <p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">Book Info</p>
    </div>
</div>

<p th:unless="${not #lists.isEmpty(books_of_person)}">The person has not taken any books yet</p>

<br/>

<div th:if="${not #lists.isEmpty(overdueBooks)}">
    <hr/>
    <h3 style="color: red;">Overdue books:</h3>
    <ul>
        <li th:each="book : ${overdueBooks}" th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">Overdue Book</li>
    </ul>
</div>

<br/>
<hr/>

<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>
